In [1]:
import pandas as pd
import matplotlib.pyplot as plt

/Users/sonat/Documents/repos/ornament_symmgroups/.env/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_excel("./symm_groups.xlsx",index_col=0)
df

         A      B     E
p1     0.0  14.04   5.6
p1m1   0.3   9.65   0.0
p1g1   0.0   0.88   0.0
c1m1   0.0   4.39   2.4
p211   0.6   2.63   4.0
p2mm   3.9   9.65   1.6
p2mg   0.3   5.26   0.0
p2gg   0.0   0.88   6.4
c2mm   9.5   3.51   1.6
p3     0.3   0.00   0.8
p3m1   0.0   0.00   0.0
p31m   1.2   0.00   2.4
p4     2.9   1.75  49.6
p4mm  47.8  35.09  12.8
p4gm   6.4  11.40   4.0
p6     4.2   0.88   4.8
p6mm  22.2   0.00   4.0

In [3]:
# df.corr().plot(kind=mat)
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')